{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>
<p>Welcome to the Flask Data Visualization App!</p>

<div class="container">
    {% for table, data in table_data.items() %}
    <div class="row my-4">
        <div class="col-md-12 column-bordered">
            <h2>{{ table }}</h2>
            <p><strong>Number of Rows:</strong> {{ data.num_rows }}</p>
            <p><strong>Number of Columns:</strong> {{ data.num_columns }}</p>
            <p><strong>Columns:</strong> {{ data.columns | join(", ") }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
